body {
	background-color: #8B9AC4;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;

}

.main {

	width: 600px;
	margin: 10px auto;
	background-color: rgba(255,255,255,0.3);
	padding: 10px;
	border: 20px solid rgba(255,255,255,0.7);
	border-radius: 20px;
	box-shadow: 0px 0px 50px 10px rgba(255,255,255,0.5);

}

h1{
	font-family: 'Tinos', serif;
	font-size: 40px;
	text-align:center;
}
h2{
	margin:10;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 10px;
	color: darkblue;
}

h3 {
	color:blue;
	margin-bottom: 0;
	cursor: pointer;
}

img{
	width: 200px;
	display: block;
	margin: 0 auto; /* This centres the image */
	border: 10px solid white;
	border-radius: 50px 10px;
	cursor: pointer;
}

p,
ul,
ol {
	line-height: 1.4;
	list-style: none;
	padding-left: 0;
}
a {
	color: #aa3399;
	font-weight: bold;
	text-decoration: none;
}
a:focus,
a:hover {
	text-decoration: underline;
	color: #990033;
	font-size: 35px;
}
